// кольори тексту
$colorTextPrimary: #212121;
$colorTextSecondary: #757575;
$colorTextTertiary: #fff;
$colorTextAdditional :rgba(255, 255, 255, 0.60);
$colorHover: #2196F3;
// фонові кольори
$colorBackgroundPrimary:#2F303A;
$colorBackgroundSecondary:#F5F4FA;
// шрифти
$fontTextPrimary:'Roboto', 'serif';

