* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  padding: 15px 15px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    padding: 25px 15px;
  }
  .nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .nav__list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 50px;
  }
  .nav__link:hover {
    color: #2196F3;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contacts__link {
    font-size: 12px;
    color: #757575;
  }
  .contacts__link:hover {
    color: #2196F3;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 25px 0px;
  }
  .header__container {
    margin: 0 auto;
    gap: 95px;
  }
  .nav__list {
    justify-content: start;
  }
  .contacts {
    flex-direction: row;
    gap: 50px;
  }
  .contacts__link {
    font-size: 14px;
  }
}
.footer {
  background-color: #2F303A;
  height: 252px;
}

.footer__container {
  max-width: 1170px;
  margin: 0 auto;
}